<style>
@charset "UTF-8";

/* sidebar button menu */
.my-sidebar-nav {
	overflow: auto;
	line-height: var(--my-custom-line-height);
	background-color: #3c718e;
}

.my-sidebar-nav>.my-navbutton {
	box-shadow: inset 0 -1px var(--my-custom-shadow-color);
}

/* nav button */
.my-navbutton {
	border-radius: unset;
	background-color: inherit;
	color: white;
	height: unset !important;
	margin: unset;
}
</style>
